:root{
    /*colors*/
    --purple: #9520c4;
    --brown: #75440c;
    --darkpurple:#470b5f;
    background-color: rgb(193, 164, 223);

    /*sizing*/
    --sm: 2px;
    --md: 10px;
    --lg: 40px;
    --margin: 20px;
}
/*#heading{
    display: flex;
    color: blue;
    background-color: black;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover{
    color:aliceblue;
    transform: translateY(-2px);
}*/
#divtitle{
    display: flex;
    color: var(--darkpurple);
    background-color:lavender;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom:var(--margin);
}
#divimg1{
    display: flex;
    justify-content: left;
    margin-bottom: var(--margin);
}
#aboutmediv{
    display: flex;
    justify-content: center;
}
